#jobhead{

    height: 50px;
    background-color: #224D89;

}
#imghead{
    margin-top: 5px;
}

#adaugare{

    background-color:#224D89; ;
    text-decoration-color:lightgray;
    color:lightgray;
    margin-left:20px;
    margin-bottom: -15px;

}