#jobhead{

    height: 50px;
    background-color: #224D89;

}
#imghead{

    margin-top: 5px;
}
#myfooter{

    height:50px ;
    width: 100%;
    position: absolute;
    display: block;
    margin-left:0;
    margin-bottom: 0px;
    border-top: 1px solid #ddd;
    text-align: center;
    box-shadow: 0 -1px 1px rgba(0,0,0,0.05);
    align-items: center;
    bottom:0;

}
#lang-selector{

    height:60px;
    width: 60px;
    margin-top:-10px;
}
#mainbody{
    width: 100%;
}
.mystyle{

    height: 35px;
    width: 125px;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin-right: 7px;
    margin-bottom: 5px;
}
.social{

    float :right;
    margin-right: 10px;
    margin-left: 15px;

}
#key
{
    color: gray;

    height: 35px;
    margin-top: 5px;
    width: 350px;
}
#cauta{


    background-color: #6EA50C;
    color: white;
    border: 2px solid #6EA50C ;
    height: 35px;
    width:50px ;
   margin-top:5px;
}
#search{
    margin-left: 250px;
    margin-top: -38px;

}
