<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> Plata pe aplicanti  </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="icon" type="image/png" href="https://ss.bestjobs.eu/favicon-32x32.png" sizes="32x32">
</head>
<body id="mainbody">


           <form action="" method="POST"></form>
           <div class="panel panel-default" id="paneldefault" >

                 <div class="panel-header" id="header"  >
                     <div class="container" id="principalhead">
                         <img src="https://ss.bestjobs.eu/img/bj-logo-blue.png" alt="bestjobs" class="img-responsive" id="bjimg " style= height:1cm ; >


                                 <a href="tel:(+40) 31 710 4224" style="float: right" id="tel" >
                                     Serviciu clienti: (+40) 31 710 4224
                                 </a>
                     </div >
                     <div class="container-full">
                         <div id="detali">
                             <div class="container" id="scris"><h4 style="color: #FFFFFF">

                                     <strong>De cati aplicanti ai nevoie?</strong>
                                 </h4>

                                 <br>
                                 <br>

                                 <p style="color: #FFFFFF">
                                     Alege un anunt cu aplicanti garantati! Poti alege numarul de aplicanti,<br> iar
                                     anuntul ramane valabil pe site pana ce acesta va fi atins.
                                 </p>
                                 <br>

                                 <input type="submit" name="Creaza-ti cont" id="continua" value="Creaza-ti cont">
                             </div>
                             <img src="https://ss.bestjobs.eu/img/landing/ppa/main_hero_img_guy.png" id="man"
                                  style="height:300px" align="right">
                         </div>

                     </div>
                 </div>


           </div >

           <div class="container" id="mybody">
              <div id="cutie-sus">

               <div id="row1col1">
                   <img src="https://ss.bestjobs.eu/img/landing/ppa/ic_guaranteed_aplicants1.png"
                        class="img-responsive product-hihglight-img">
                   <h4 align="center">
                       <strong>Ai aplicanti garantati</strong>
                   </h4>
                   <p align="center">Iti garantam numarul ales de aplicanti si platesti intre 1 si 7 credite/aplicant, in functie
                       de job. Poti alege 10, 20, 30, 50, 100 sau 200 aplicanti garantati.</p>
               </div>
               <div id="row1col2">
                   <img src="https://ss.bestjobs.eu/img/landing/ppa/ic_guaranteed_aplicants2.png "
                        class="img-responsive product-hihglight-img">
                   <h4 align="center">
                       <strong>Adauga oricate locatii</strong>
                   </h4>
                   <p align="center">Fara restrictii - recrutare din toate orasele de interes </p>
               </div>


               <div id="row2col1">
                   <br>
                   <br>
                   <img src="https://ss.bestjobs.eu/img/landing/ppa/ic_guaranteed_aplicants4.png"
                        class="img-responsive product-hihglight-img">
                   <h4 align="center">
                       <strong>Anuntul publicat are valabilitate nelimitata</strong>
                   </h4>

                   <p align="center"> Anuntul ramane activ pe site pana atinge numarul ales de aplicanti, indiferent de
                       perioada.</p>
               </div>
               <div id="row2col2">

                   <img src="https://ss.bestjobs.eu/img/landing/ppa/ic_guaranteed_aplicants5.png"
                        class="img-responsive product-hihglight-img">
                   <h4 align="center">
                       <strong>Fara costuri suplimentare</strong>
                   </h4>
                   <p align="center" >Poti vizualiza datele de contact ale candidatilor fara costuri suplimentare, din momentul
                       in care au aplicat la anuntul tau.</p>
               </div>


               <div id="row3col1">
                   <br>
                   <img src="https://ss.bestjobs.eu/img/landing/ppa/ic_guaranteed_aplicants6.png"
                        class="img-responsive product-hihglight-img">
                   <h4 align="center">
                       <strong>Primesti gratuit promovare in Social Media</strong>
                   </h4>
                   <p align="center">In cazul in care anuntul nu atinge numarul ales de aplicanti in prima saptamana, acesta
                       beneficiaza de promovare gratuita in Social Media. </p>
                   <br>

               </div>
             </div>
               <div id = "cutie-jos" class = "cutie2">
                   <hr id="linie">
                   <br>
                   <div id="item6" class = "item6">
                       <h4>Alege plata pe aplicanti</h4>
                       <img src="https://ss.bestjobs.eu/img/landing/ppa/bottom_headline_border.png" class="m-b-sm"id="img6">

                       <p>Creeaza-ti cont de angajator si posteaza anuntul tau cu plata pe aplicanti.</p>
                       <Form name="BestJobs2" Method = "Post" >
                           <Input Type = "submit" value = "Creeaza-ti cont" name = "creare2" id = "creareCont2">
                       </Form>
                       <br>
                       <br>
                   </div>

               </div>


               <div style="clear: both;"></div>

           </div>
           <br>
           <br>
         <div class="footer" class="full-width" id="myfooter" >

                   <div id="Sitemap" style="display: inline" class="mystyle">

                     <a href="/ro/hartasite/joburi" class="text-muted">
                         Site map
                     </a>
                 </div>
                 <div id="Suport" style="display: inline" class="mystyle">
                     <a href="http://support.bestjobs.eu/hc/ro" target="_blank"
                        class="text-muted">Suport</a>
                 </div>
                 <div id="conditii" style="display: inline" class="mystyle">
                     <a href="/ro/legal/terms" class="text-muted">
                         Conditii
                     </a>
                 </div>
                 <div id="confidentialitate" style="display: inline" class="mystyle">
                     <a href="/ro/legal/confidentiality" class="text-muted">
                         Confidentialitate
                     </a>
                 </div>
                 <div id="about" style="display: inline" class="mystyle">
                     <a href="/ro/company/offer#About" class="text-muted"
                        onclick="$('.tab-link[href=\'#About\']', '#offerTypes').click()">
                         Despre noi
                     </a>
                 </div>
                 <div id="blog" style="display: inline" class="mystyle">
                     <a href="http://blog.bestjobs.eu/?lang=ro" target="_blank" class="text-muted">
                         Blog
                     </a>
                 </div>


             <div class="col-md-1 col-sm-2 col-xs-12 col-lg-1 text-lg-right text-center lang-links" id="lang-selector" data-locale="ro"
             style="display: inline">
                 <div class="btn-group dropup">
                     <a href="#" class="btn navbar-btn dropdown-toggle text-muted" data-toggle="dropdown">
                         <img src="https://ss.bestjobs.eu/img/flags/ro.png" class="flag">
                         <small>RO</small>
                         <span class="caret"></span>
                     </a>
                     <ul class="dropdown-menu">
                         <li class="text-lg-left text-center">
                             <a href="https://www.bestjobs.eu/en/landing/aplicanti-garantati" data-toggle="tooltip" data-placement="left"
                                title="engleză">
                                 <img src="https://ss.bestjobs.eu/img/flags/en.png"
                                      class="flag">
                                 <small>EN</small>
                             </a>
                         </li>
                         <li class="text-lg-left text-center">
                             <a href="https://www.bestjobs.eu/pl/landing/aplicanti-garantati" data-toggle="tooltip" data-placement="left"
                                title="poloneză">
                                 <img src="https://ss.bestjobs.eu/img/flags/pl.png"
                                      class="flag">
                                 <small>PL</small>
                             </a>
                         </li>
                         <li class="text-lg-left text-center">
                             <a href="https://www.bestjobs.eu/hu/landing/aplicanti-garantati" data-toggle="tooltip" data-placement="left"
                                title="maghiară">
                                 <img src="https://ss.bestjobs.eu/img/flags/hu.png"
                                      class="flag">
                                 <small>HU</small>
                             </a>
                         </li>
                         <li class="text-lg-left text-center">
                             <a href="https://www.bestjobs.eu/it/landing/aplicanti-garantati" data-toggle="tooltip" data-placement="left"
                                title="italiană">
                                 <img src="https://ss.bestjobs.eu/img/flags/it.png"
                                      class="flag">
                                 <small>IT</small>
                             </a>
                         </li>
                         <li class="text-lg-left text-center">
                             <a href="https://www.bestjobs.eu/de/landing/aplicanti-garantati" data-toggle="tooltip" data-placement="left"
                                title="germană">
                                 <img src="https://ss.bestjobs.eu/img/flags/de.png"
                                      class="flag">
                                 <small>DE</small>
                             </a>
                         </li>
                         <li class="text-lg-left text-center">
                             <a href="https://www.bestjobs.eu/fr/landing/aplicanti-garantati" data-toggle="tooltip" data-placement="left"
                                title="franceză">
                                 <img src="https://ss.bestjobs.eu/img/flags/fr.png"
                                      class="flag">
                                 <small>FR</small>
                             </a>
                         </li>
                         <li class="text-lg-left text-center">
                             <a href="https://www.bestjobs.eu/sr/landing/aplicanti-garantati" data-toggle="tooltip" data-placement="left"
                                title="sârbă">
                                 <img src="https://ss.bestjobs.eu/img/flags/sr.png"
                                      class="flag">
                                 <small>SR</small>
                             </a>
                         </li>
                         <li class="text-lg-left text-center">
                             <a href="https://www.bestjobs.eu/es/landing/aplicanti-garantati" data-toggle="tooltip" data-placement="left"
                                title="spaniolă">
                                 <img src="https://ss.bestjobs.eu/img/flags/es.png"
                                      class="flag">
                                 <small>ES</small>
                             </a>
                         </li>
                     </ul>
                 </div>
             </div>
             <div class="social">
                 <Form name = "socialM" Method = "Post" >

                     <a href="http://twitter.com/BestJobsRo"  class="btn btn-twitter navbar-btn"
                        data-toggle="tooltip" title="" data-original-title="Urmareste-ne pe Twitter"
                        id="id_social_media_links">
                         <i class="fab fa-fw fa-lg fa-twitter"></i>
                     </a>
                     <a href="www.youtube.com/user/BestJobsRecrutare"target="_blank"
                        class="btn btn-youtube navbar-btn" data-toggle="tooltip" title=""
                        data-original-title="Urmareste-ne pe YouTube" id="id_social_media_links">
                         <i class="fab fa-fw fa-lg fa-youtube-square"></i>
                     </a>
                     <a href="www.facebook.com"id="facebook"target="_blank"
                        class="btn btn-facebook navbar-btn" data-toggle="tooltip" title=""
                        data-original-title="Urmareste-ne pe Facebook" id="id_social_media_links">
                         <i class="fab fa-fw fa-lg fa-facebook-square"></i>
                     </a>
                     <a href="wwww.linkedin.com" id="linkedin"target="_blank"
                        class="btn btn-linkedin navbar-btn" data-toggle="tooltip" title=""
                        data-original-title="Urmareste-ne pe Linkedin" id="id_social_media_links">
                         <i class="fab fa-fw fa-lg fa-linkedin"></i>
                     </a>
                 </Form>
             </div>

         </div>




</body>
</html>