

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> Plata pe aplicanti  </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% block stylesheets %}

        <link rel="stylesheet" type="text/css" href="{{ asset('/css/main.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">#}

    {% endblock %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <link rel="icon" type="image/x-icon" href="https://ss.bestjobs.eu/favicon.ico">
</head>
<body id="mainbody">


<form action="" method="POST"></form>
<div class="panel panel-default" id="paneldefault" >

    <div class="panel-header" id="header"  >
        <div class="container" id="principalhead">
            <img src="https://ss.bestjobs.eu/img/bj-logo-blue.png" alt="bestjobs" class="img-responsive" id="bjimg " style= height:1cm ; >


            <a href="tel:(+40) 31 710 4224" style="float: right" id="tel" >
                Serviciu clienti: (+40) 31 710 4224
            </a>
        </div >
        <div class="container-full">
            <div id="detali">
                <div class="container" id="scris"><h4 style="color: #FFFFFF">

                        <strong>De cati aplicanti ai nevoie?</strong>
                    </h4>

                    <br>
                    <br>

                    <p style="color: #FFFFFF">
                        Alege un anunt cu aplicanti garantati! Poti alege numarul de aplicanti,<br> iar
                        anuntul ramane valabil pe site pana ce acesta va fi atins.
                    </p>
                    <br>
                    <form action="{{ path('user_registration') }}">
                    <input type="submit" name="Creaza-ti cont" id="continua" value="Creaza-ti cont" >
                    </form>
                </div>
                <img src="https://ss.bestjobs.eu/img/landing/ppa/main_hero_img_guy.png" id="man"
                     style="height:300px" align="right">
            </div>

        </div>
    </div>


</div >

<div class="container" id="mybody">
    <div id="cutie-sus">

        <div id="row1col1">
            <img src="https://ss.bestjobs.eu/img/landing/ppa/ic_guaranteed_aplicants1.png"
                 class="img-responsive product-hihglight-img">
            <h4 align="center">
                <strong>Ai aplicanti garantati</strong>
            </h4>
            <p align="center">Iti garantam numarul ales de aplicanti si platesti intre 1 si 7 credite/aplicant, in functie
                de job. Poti alege 10, 20, 30, 50, 100 sau 200 aplicanti garantati.</p>
        </div>
        <div id="row1col2">
            <img src="https://ss.bestjobs.eu/img/landing/ppa/ic_guaranteed_aplicants2.png "
                 class="img-responsive product-hihglight-img">
            <h4 align="center">
                <strong>Adauga oricate locatii</strong>
            </h4>
            <p align="center">Fara restrictii - recrutare din toate orasele de interes </p>
        </div>


        <div id="row2col1">
            <br>
            <br>
            <img src="https://ss.bestjobs.eu/img/landing/ppa/ic_guaranteed_aplicants4.png"
                 class="img-responsive product-hihglight-img">
            <h4 align="center">
                <strong>Anuntul publicat are valabilitate nelimitata</strong>
            </h4>

            <p align="center"> Anuntul ramane activ pe site pana atinge numarul ales de aplicanti, indiferent de
                perioada.</p>
        </div>
        <div id="row2col2">

            <img src="https://ss.bestjobs.eu/img/landing/ppa/ic_guaranteed_aplicants5.png"
                 class="img-responsive product-hihglight-img">
            <h4 align="center">
                <strong>Fara costuri suplimentare</strong>
            </h4>
            <p align="center" >Poti vizualiza datele de contact ale candidatilor fara costuri suplimentare, din momentul
                in care au aplicat la anuntul tau.</p>
        </div>


        <div id="row3col1">
            <br>
            <img src="https://ss.bestjobs.eu/img/landing/ppa/ic_guaranteed_aplicants6.png"
                 class="img-responsive product-hihglight-img">
            <h4 align="center">
                <strong>Primesti gratuit promovare in Social Media</strong>
            </h4>
            <p align="center">In cazul in care anuntul nu atinge numarul ales de aplicanti in prima saptamana, acesta
                beneficiaza de promovare gratuita in Social Media. </p>
            <br>

        </div>
    </div>
    <div id = "cutie-jos" class = "cutie2 text-center">
        <hr id="linie">
        <br>
        <div id="item6" class = "item6">
            <h4>Alege plata pe aplicanti</h4>
            <img src="https://ss.bestjobs.eu/img/landing/ppa/bottom_headline_border.png" class="m-b-sm"id="img6">

            <p>Creeaza-ti cont de angajator si posteaza anuntul tau cu plata pe aplicanti.</p>
            <form action="{{ path('user_registration') }}">
                <input type="submit" name="Creaza-ti cont" id="continua" value="Creaza-ti cont" >
            </form>
            <br>
            <br>
        </div>

    </div>


    <div style="clear: both;"></div>


</div>
<br>
<br>


{% include 'footer.html.twig' %}
{#<script>#}
    {#$( document ).ready(function() {#}
        {#/*console.log( "ready!" );#}
        {#alert("document is ready");#}
        {#confirm("Press a button!");*/#}
        {#calculateWindowHeight();#}
    {#});#}
    {#$( window ).resize(function() {#}
        {#calculateWindowHeight();#}
    {#});#}
    {#$( window ).on( "orientationchange", function( event ) {#}
        {#calculateWindowHeight();#}
    {#});#}

    {#function  calculateWindowHeight() {#}
        {#var documentHeight = $( document ).height();#}
        {#$('#mainbody').css('min-height', documentHeight);#}
    {#}#}
{#</script>#}




</body>
</html>